numpy==1.19.5
opencv-python==4.8.0.76
open3d==0.15.2
#scipy==1.9.3
scikit-learn==1.1.3
scikit-image
#catkin_tools
#colcon-common-extensions
#rosdep
#psutil

#numpy<2
#open3d
#scipy
#scikit-learn
#catkin_tools
#colcon-common-extensions
#rosdep
#psutil
#ultralytics